:root {
  --mdc-theme-primary: #302783;
  --yellow: #adb1d4;
  --danger: #e30513;
}

.top-panel {
  justify-content: space-between;
  background-color: #302783;
  color: white;

  .link {
    .top-panel-logo {
      height: 100%;
      width: 100%;
      background-image: url(/static/branding.svg);
      position: relative;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
    }
  }
  .mdc-button--raised.black-button,
  .mdc-button--raised.black-button .mdc-button__label,
  .mdc-button--raised.black-button:not(:disabled) {
    background-color: var(--danger);
  }
}

@media only screen and (max-width: 800px) {
  .top-panel {
    justify-content: space-around;
  }
}

.contest-list {
  .text-btn {
    .new-contest-icon-container {
      .new-contest-icon {
        color: #fff;
      }
    }
  }
}

.mdc-list-item.list-action-item {
  .list-action-column {
    .list-action-row {
      .icon {
        color: #fff;
      }
    }
  }
}

.agree-form {
  .mdc-form-field {
    flex-flow: row nowrap;
    justify-content: center;

    label {
      margin: 0px;
    }
  }
}

.learn-more-inner {
  background: aliceblue;
  padding: 32px;
}

.info-panel {
  border: 5px solid lightgray;
  boder-radius: 1px;
  margin: 0px auto;
  margin-top: -50px;
  padding: 32px 20px;
  width: 70%;
  min-width: 340px;
  max-width: 80%;
  font-family: Open Sans;
  font-size: 1.2em;
  font-weight: 100;
  background: white;
  color: #000b;

  &.faq h5 {
    margin-bottom: 0px;
  }
}
