<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=3Dutf-8">
    <meta content="text/html; charset=utf-8"></head>
  </head>
 <body>
<table width="100%" bgcolor="#f0f0f0" cellpadding="0" cellspacing="0" border="0" style="font-family:Helvetica;font-size:12px;font-style:normal;font-variant-caps:normal;font-weight:normal;letter-spacing:normal;text-align:left;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(240,240,240);text-decoration:none;table-layout:fixed;margin:0px auto">
  <tbody>
    <tr>
      <td align="center">
        <table bgcolor="white" width="720" align="center" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td style="font-family:DIN,&quot;Arial sans-serif&quot;;text-align:center;font-size:14px;font-weight:normal;font-style:normal;text-transform:none;line-height:20px;background-color:{{header_bg_color}};padding:20px;color:{{header_fg_color}}!important">
                <a href='{{header_url}}'>
                  <img height=50 src='cid:{{header_image}}'>
                </a>
              </td>
              <td style="font-family:DIN,&quot;Arial sans-serif&quot;;text-align:center;font-size:14px;font-weight:normal;font-style:normal;text-transform:none;line-height:20px;background-color:{{header_bg_color}};padding:20px;color:{{header_fg_color}}!important">
                <div style="margin:0px">
                  <span style="color:{{header_fg_color}}">
                    <font face="DIN" color="#fff" style="font-family:Arial,Helvetica,sans-serif;color:rgb(255,255,255)">
                      <h2 style='margin: auto'>{{header_text}}</h2>
                    </font>
                  </span>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan=2 style="text-align:left;font-family:Georgia,sans-serif;letter-spacing:0px;font-size:18px;font-weight:normal;font-style:normal;text-transform:none;line-height:22px;padding:10px 12px;color:black!important">
                <span style="text-decoration:none!important">{{body_text}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
<table width="100%" bgcolor="#f0f0f0" cellpadding="0" cellspacing="0" border="0" style="font-family:Helvetica;font-size:12px;font-style:normal;font-variant-caps:normal;font-weight:normal;letter-spacing:normal;text-align:left;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(240,240,240);text-decoration:none;table-layout:fixed;margin:0px auto">
  <tbody>
    <tr>
      <td align="center">
        <table bgcolor="{{footer_bg_color}}" width="720" align="center" cellpadding="0" cellspacing="0" style="padding:30px">
          <tbody>
            <tr>
              <td>
                <table align="left" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td style="text-align:left;font-family:Arial;font-size:12px;font-weight:bold;line-height:20px;color:{{footer_fg_color}}!important">
                                <p>{{footer_text}}</p>
                                {% if unsub_url %}
                                <p><a href={{unsub_url}}>se désinscrire</a></p>
                                {% endif %}
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table align="right" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td>
                        <table width="100%" cellpadding="0" cellspacing="0">
                          <tbody>
                            <tr>
                              <td>
                                <table width="100%" align="right" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      <td bgcolor="{{footer_bg_color}}" style="text-align:right;font-family:Arial;font-size:14px;font-weight:bold;font-style:normal;text-transform:uppercase;line-height:14px;color:{{footer_fg_color}}!important">
                                        <span></span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td style="text-align:left;font-family:Arial;font-size:12px;font-weight:normal;text-transform:none;line-height:32px;color:white!important">
                                        <a href='{{footer_url}}'>
                                          <img height=50 src="cid:{{footer_image}}" alt="" style="text-align:right;" class="CToWUd">
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
 </body>
</html>
